In [1]:
import findspark

In [4]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName("predictions").master("local[2]").getOrCreate()

In [7]:
spark

In [12]:
data=spark.read.option("header",True).option("inferSchema",True).csv("D://users//krishnasai//Downloads//flight_price_prediction.csv")

In [50]:
data.show()

+--------+---------+------+-----------+--------------+-----+------------+----------------+--------+---------+-------+
|filghtId|  airline|flight|source_city|departure_time|stops|arrival_time|destination_city|duration|days_left|  class|
+--------+---------+------+-----------+--------------+-----+------------+----------------+--------+---------+-------+
|  278519|Air_India|AI-559|  Hyderabad| Early_Morning|  one|       Night|          Mumbai|   14.75|       22|Economy|
|  264230|  Vistara|UK-720|    Kolkata| Early_Morning|  one|     Evening|          Mumbai|    9.33|        6|Economy|
|  260097|  Vistara|UK-852|  Bangalore|       Morning|  one|     Evening|         Chennai|   10.42|       27|Economy|
|  218935|  Vistara|UK-747|      Delhi| Early_Morning| zero|     Morning|         Kolkata|    2.08|       47|Economy|
|  211085|Air_India|AI-762|      Delhi|         Night|  one|       Night|          Mumbai|   23.83|       41|Economy|
|  251748|Air_India|AI-505|  Bangalore|       Morning|  one|       Night|          Mumbai|   11.17|       37|Economy|
|  292760|Air_India|AI-430|    Chennai|       Morning|  one|       Night|          Mumbai|   11.33|       39|Economy|
|  292966|Air_India|AI-440|    Chennai| Early_Morning|  one|       Night|          Mumbai|   15.08|       42|Economy|
|  245610|Air_India|AI-565|  Bangalore|     Afternoon|  one|     Morning|           Delhi|   18.75|       12|Economy|
|  261821|Air_India|AI-773|    Kolkata|       Evening|  one|   Afternoon|           Delhi|    19.0|       11|Economy|
|  283750|  Vistara|UK-830|  Hyderabad|       Morning|  one|     Evening|         Kolkata|    9.25|       18|Economy|
|  282713|  Vistara|UK-874|  Hyderabad|       Morning|  one|       Night|       Bangalore|   12.42|       45|Economy|
|  281982|Air_India|AI-698|  Hyderabad|         Night|  one|     Evening|       Bangalore|   20.25|       32|Economy|
|  252526|Air_India|AI-604|  Bangalore|       Morning| zero|     Morning|          Mumbai|     2.0|       46|Economy|
|  279317|Air_India|AI-840|  Hyderabad|         Night|  one|   Afternoon|          Mumbai|    16.0|       34|Economy|
|  285809|  Vistara|UK-860|  Hyderabad| Early_Morning|  one|       Night|         Chennai|   13.42|       12|Economy|
|  246698|  Vistara|UK-852|  Bangalore|       Morning|  one|     Evening|           Delhi|    8.58|       25|Economy|
|  274732|  Vistara|UK-720|    Kolkata| Early_Morning|  one|       Night|         Chennai|   13.08|       49|Economy|
|  271464|  Vistara|UK-738|    Kolkata|       Evening|  one|     Evening|       Hyderabad|   22.25|       27|Economy|
|  243380|Air_India|AI-888|     Mumbai|       Evening|  one|     Evening|         Chennai|    24.0|       28|Economy|
+--------+---------+------+-----------+--------------+-----+------------+----------------+--------+---------+-------+
only showing top 20 rows

In [19]:
type(data)

pyspark.sql.dataframe.DataFrame

In [25]:
df=data.select("filghtId","source_city").groupBy("source_city")

In [41]:
# SPARK_HOME="Path"
# HADOOP_HOM="Path"
# path= %PATH%;"path"\bin

# kafka console producer shell
# kafka-console-producer.sh --broker-list localhost:port --topic json_topic
# kafka streaming with sql has two processes-
# sql batch processing- consuming messages from kafka
# producing data to kafka
###'''spark.write.format("kafka").outputMode("complete").option("topic","json_topic")
# start().awaitTermination()''' 
# val data=spark.read.format("kafka").option("kafka.bootstrap.servers","127.0.0.1:4040")
# .option("subscribe","json_topic").load()
d=spark.sparkContext.parallelize([1,2,3,4,5])

In [43]:
d.collect()

[1, 2, 3, 4, 5]

In [61]:
data.select("filghtId","airline","flight","source_city","destination_city").filter(data.destination_city=="Mumbai").filter(data.source_city=="Bangalore").show()

+--------+---------+------+-----------+----------------+
|filghtId|  airline|flight|source_city|destination_city|
+--------+---------+------+-----------+----------------+
|  251748|Air_India|AI-505|  Bangalore|          Mumbai|
|  252526|Air_India|AI-604|  Bangalore|          Mumbai|
|  251389|  Vistara|UK-810|  Bangalore|          Mumbai|
|  250349|  Vistara|UK-810|  Bangalore|          Mumbai|
|  252051|  Vistara|UK-816|  Bangalore|          Mumbai|
|  250451|  Vistara|UK-818|  Bangalore|          Mumbai|
|   98064|  Vistara|UK-812|  Bangalore|          Mumbai|
|  249532|Air_India|AI-808|  Bangalore|          Mumbai|
|  250307|  Vistara|UK-657|  Bangalore|          Mumbai|
|  251483|Air_India|AI-808|  Bangalore|          Mumbai|
|  252602|  Vistara|UK-866|  Bangalore|          Mumbai|
|  251689|  Vistara|UK-810|  Bangalore|          Mumbai|
|  250260|  Vistara|UK-810|  Bangalore|          Mumbai|
|  249935|  Vistara|UK-810|  Bangalore|          Mumbai|
|  249250|  Vistara|UK-810|  Bangalore|          Mumbai|
|  252043|  Vistara|UK-812|  Bangalore|          Mumbai|
|  249328|Air_India|AI-610|  Bangalore|          Mumbai|
|  250921|  Vistara|UK-854|  Bangalore|          Mumbai|
|  252301|  Vistara|UK-810|  Bangalore|          Mumbai|
|  249567|  Vistara|UK-810|  Bangalore|          Mumbai|
+--------+---------+------+-----------+----------------+
only showing top 20 rows

In [62]:
from pyspark import SparkContext,SparkConf

In [63]:
new_spark= SparkConf().setAppName("pyspark learning").setMaster("local[1]")

In [66]:
sc=SparkContext.getOrCreate(new_spark)

In [68]:
sc.appName

'predictions'

In [69]:
sc.master

'local[2]'

In [78]:
rdd=sc.parallelize(range(0,20),4)

In [79]:
rdd.collect()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [81]:
rdd.getNumPartitions()

4

In [91]:
# rdd.partitions.size
rdd.getNumPartitions()

4

In [92]:
# rdd.coalesce
rdd2= sc.parallelize(range(50),5)

In [96]:
rd=rdd2.coalesce(2)

In [98]:
rdd.getNumPartitions()

4

In [101]:
df=rdd.repartition(3)

In [102]:
df.getNumPartitions()

3

In [103]:
df.collect()

[0, 1, 2, 3, 4, 15, 16, 17, 18, 19, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [2]:
from pyspark.sql import SparkSession

In [7]:
spark= SparkSession.builder.appName("column operations").master('local[2]').getOrCreate()

In [8]:
spark

In [9]:
data=[( 
    (("James","","Smith"),["Java","Scala","C++"],"OH","M"),
    (("Anna","Rose",""),["Spark","Java","C++"],"NY","F"),
    (("Julia","","Williams"),["CSharp","VB"],"OH","F"),
    (("Maria","Anne","Jones"),["CSharp","VB"],"NY","M"),
    (("Jen","Mary","Brown"),["CSharp","VB"],"NY","M"),
    (("Mike","Mary","Williams"),["Python","VB"],"OH","M")
)]

In [34]:
from pyspark.sql.types import StructType, StringType, StructField,ArrayType
data=[ 
    (("James","","Smith"),["Java","Scala","C++"],"OH","M"),
    (("Anna","Rose",""),["Spark","Java","C++"],"NY","F"),
    (("Julia","","Williams"),["CSharp","VB"],"OH","F"),
    (("Maria","Anne","Jones"),["CSharp","VB"],"NY","M"),
    (("Jen","Mary","Brown"),["CSharp","VB"],"NY","M"),
    (("Mike","Mary","Williams"),["Python","VB"],"OH","M")
]
        
# schema = StructType([
#      StructField('name', StructType([
#         StructField('firstname', StringType(), True),
#         StructField('middlename', StringType(), True),
#          StructField('lastname', StringType(), True)
#      ])),
#      StructField('languages', ArrayType(StringType()), True),
#      StructField('state', StringType(), True),
#      StructField('gender', StringType(), True)
#  ])

schema= StructType([
    StructField('name',StructType([
        StructField('fname',StringType(),True),
        StructField('mname',StringType(),True),
        StructField('lname',StringType(),True)
        ])),
    StructField('languages',ArrayType(StringType()),True),
    StructField('state',StringType(),True),
    StructField('gender',StringType(),True)
])
df=spark.createDataFrame(data=data,schema=schema)
df.show()

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|    {James, , Smith}|[Java, Scala, C++]|   OH|     M|
|      {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
| {Julia, , Williams}|      [CSharp, VB]|   OH|     F|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

In [ ]:
# column functions -- where(),filter(),withColumn(),withColumnRenamed(),sort(),groupBy(),partitionBy(),orderBy(),when()&otherwise()
# column operations-- contains(),equals(),isin(),like(),rlike(),asc(),desc(),asc_nulls_first(),desc_nulls_first(),asc_nulls_last(),desc_nulls_last()
# typeField(),bitwiseAND, bitwsiseOR,bitwiseXOR,startswith(),endswith()

In [38]:
from pyspark.sql import Row
data2=[Row(name='smith',prop=Row(city='NY', country='usa'),gender='m'),
      Row(name='ravi',prop=Row(city='LA',country='usa'),gender='m'),
      Row(name='kiranmai',prop=Row(city='FL',country='usa'),gender='f')]

In [39]:
df2=spark.createDataFrame(data2)

In [41]:
df2.show()

+--------+---------+------+
|    name|     prop|gender|
+--------+---------+------+
|   smith|{NY, usa}|     m|
|    ravi|{LA, usa}|     m|
|kiranmai|{FL, usa}|     f|
+--------+---------+------+

In [60]:
class employee:
    def __init__(self,name,department,city):
        self.name=name
        self._department=department
        self._city=city
    def print(self):
        print(self.name,self.department,self.city)
    def city(self):
        print(self._city)
    def dept(self):
        print(self._department)
emp=employee('kishore','cse','hyderabad')
# emp.print()
emp.city()
emp.dept()

hyderabad
cse

In [61]:
from pyspark.sql.functions import col
df2.orderBy(col('name')).show()

+--------+---------+------+
|    name|     prop|gender|
+--------+---------+------+
|kiranmai|{FL, usa}|     f|
|    ravi|{LA, usa}|     m|
|   smith|{NY, usa}|     m|
+--------+---------+------+

In [85]:
d=df.select(col('name'),col('state'),col('gender')).orderBy(col('state'))\
.groupBy(col('state'))

In [86]:
d

GroupedData[grouping expressions: [state], value: [name: struct<firstname: string, middlename: string ... 1 more field>, state: string ... 1 more field], type: GroupBy]

In [63]:
df.show()

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|    {James, , Smith}|[Java, Scala, C++]|   OH|     M|
|      {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
| {Julia, , Williams}|      [CSharp, VB]|   OH|     F|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

In [87]:
simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]

schema = ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data=simpleData, schema = schema)

In [89]:
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [95]:
df.groupBy('department').sum('salary').show(truncate=False)

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|Sales     |257000     |
|Finance   |351000     |
|Marketing |171000     |
+----------+-----------+

In [93]:
df.select(col('department'))

DataFrame[department: string]

In [97]:
df.groupBy('department').count().show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    3|
|   Finance|    4|
| Marketing|    2|
+----------+-----+

In [101]:
df.groupBy('department').avg('bonus').show()

+----------+------------------+
|department|        avg(bonus)|
+----------+------------------+
|     Sales|17666.666666666668|
|   Finance|           20250.0|
| Marketing|           19500.0|
+----------+------------------+

In [105]:
# groupBy aggregate functions are min(),max(),avg(),count(),sum(),mean(),count()
# aggregate functions min(),max(),avg(),sum(),count(),mean(),count()

df.groupBy('department','state').avg('bonus','salary').alias('avg_bonus').show()

+----------+-----+----------+-----------+
|department|state|avg(bonus)|avg(salary)|
+----------+-----+----------+-----------+
|     Sales|   CA|   23000.0|    81000.0|
|   Finance|   CA|   23500.0|    94500.0|
|     Sales|   NY|   15000.0|    88000.0|
|   Finance|   NY|   17000.0|    81000.0|
| Marketing|   NY|   21000.0|    91000.0|
| Marketing|   CA|   18000.0|    80000.0|
+----------+-----+----------+-----------+

In [112]:
from pyspark.sql.functions import avg,sum
df.groupBy('department').agg(sum('salary').alias('sum_salary'),\
                                    avg('salary').alias('avg_salary'),\
                                    avg('bonus').alias('avg_bonus'),\
                                    sum('bonus').alias('sum_bonus')).show()

+----------+----------+-----------------+------------------+---------+
|department|sum_salary|       avg_salary|         avg_bonus|sum_bonus|
+----------+----------+-----------------+------------------+---------+
|     Sales|    257000|85666.66666666667|17666.666666666668|    53000|
|   Finance|    351000|          87750.0|           20250.0|    81000|
| Marketing|    171000|          85500.0|           19500.0|    39000|
+----------+----------+-----------------+------------------+---------+

In [113]:
df2

DataFrame[name: string, prop: struct<city:string,country:string>, gender: string]

In [117]:
simpleData = [("James","Sales","NY",90000,34,10000), \
    ("Michael","Sales","NY",86000,56,20000), \
    ("Robert","Sales","CA",81000,30,23000), \
    ("Maria","Finance","CA",90000,24,23000) \
  ]
cols=['emp_name','dept','state','salary','age','bonus']
emp1=spark.createDataFrame(data=simpleData,schema=cols)
emp1.show()

+--------+-------+-----+------+---+-----+
|emp_name|   dept|state|salary|age|bonus|
+--------+-------+-----+------+---+-----+
|   James|  Sales|   NY| 90000| 34|10000|
| Michael|  Sales|   NY| 86000| 56|20000|
|  Robert|  Sales|   CA| 81000| 30|23000|
|   Maria|Finance|   CA| 90000| 24|23000|
+--------+-------+-----+------+---+-----+

In [118]:
simpleData2 = [("James","Sales","NY",90000,34,10000), \
    ("Maria","Finance","CA",90000,24,23000), \
    ("Jen","Finance","NY",79000,53,15000), \
    ("Jeff","Marketing","CA",80000,25,18000), \
    ("Kumar","Marketing","NY",91000,50,21000) \
  ]
emp2=spark.createDataFrame(data=simpleData,schema=cols)
emp2.show()

+--------+-------+-----+------+---+-----+
|emp_name|   dept|state|salary|age|bonus|
+--------+-------+-----+------+---+-----+
|   James|  Sales|   NY| 90000| 34|10000|
| Michael|  Sales|   NY| 86000| 56|20000|
|  Robert|  Sales|   CA| 81000| 30|23000|
|   Maria|Finance|   CA| 90000| 24|23000|
+--------+-------+-----+------+---+-----+

In [119]:
emp1.union(emp2).show()

+--------+-------+-----+------+---+-----+
|emp_name|   dept|state|salary|age|bonus|
+--------+-------+-----+------+---+-----+
|   James|  Sales|   NY| 90000| 34|10000|
| Michael|  Sales|   NY| 86000| 56|20000|
|  Robert|  Sales|   CA| 81000| 30|23000|
|   Maria|Finance|   CA| 90000| 24|23000|
|   James|  Sales|   NY| 90000| 34|10000|
| Michael|  Sales|   NY| 86000| 56|20000|
|  Robert|  Sales|   CA| 81000| 30|23000|
|   Maria|Finance|   CA| 90000| 24|23000|
+--------+-------+-----+------+---+-----+